@model List<MASHROEE.Models.Category>
    <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
        <div class="navbar-nav w-100">
            @foreach (var category in Model)
            {
                <a href="" class="nav-item nav-link">@category.Name</a>
            }
        </div>
    </nav>

